/* header portion */


.main-header {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100px;
    width: 100vw;
    z-index: 12;
    position: fixed;
    top: 0;
}

header {
    text-align: center;
}

.is-scrolling {
    visibility: hidden;
}

.brand-name {
    /* class for band name: should be centered wherever it is */
    text-align: center;
    /* heading elements like h1 all have margins: let the margins be 0 */
    margin: 0; 
    font-size: 1em;
    /* changing the everything tag's font set on the heading to be different  */
    font-family: Rajdhani, sans-serif, poppins;
    /*
    Since heading are by default bolded, the font-weight can be changed to 
    normalize the bolded text
    */
    font-weight: normal;
    /* All band names should be white */
    color: white;
}

.band-name-large {
    font-size: 2em;
}

.logo {
    width: 50%;
    float: left;
    line-height: 100px;
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.logo a {
    text-decoration: none;
    font-size: 30px;
    font-family: poppins, sans-serif;
    color: #fff;
    letter-spacing: 5px;
}


.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
    width: 100%;
}


.navbar-links {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a {
	text-decoration: none;
	color: #fff;
	padding: 2rem;
	display: block;
}

.navbar-links li:hover {
	background-color: rgba(255, 255, 255, 0.5)
}

.navbar-links ul {
	margin:0;
	padding:0;
	display: flex;
}

.mobile-nav {
    display: none;
}


/* Better Scroll Bar */

body::-webkit-scrollbar {
    width: .7rem;
    height: .7rem;
}

body::-webkit-scrollbar-track {
    background-color: rgb(50,50,50);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(60,60,60);
    border-radius: 10px;
}




@media (max-width: 800px) {

	/* .toggle-button {
		display: flex;
	} */

	.navbar-links {
		display: none;
	}

    .brand-name {
        /* class for band name: should be centered wherever it is */
        text-align: center;
        /* heading elements like h1 all have margins: let the margins be 0 */
        margin: 0; 
        font-size: .8em;
        /* changing the everything tag's font set on the heading to be different  */
        font-family: Rajdhani, sans-serif, poppins;
        /*
        Since heading are by default bolded, the font-weight can be changed to 
        normalize the bolded text
        */
        font-weight: normal;
        /* All band names should be white */
        color: white;
    }

    .hamburger {
        display: block;
        width: 30px;
        cursor: pointer;
        position: fixed;
        right: 2rem;

        appearance: none;
        background: none;
        outline: none;
        border: none;
    }
    
    .hamburger .bar, 
    .hamburger:after, 
    .hamburger:before {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background-color: #FFF;
        margin: 6px 0;
        transition: 0.4s;
        border-radius: 5px;
    }
    
    .hamburger.is-active:before {
        transform: translate(0px,11px) rotate(-45deg) ;
    }
    
    .hamburger.is-active:after {
        transform: translate(0px,-11px) rotate(45deg) ;
    }
    
    .hamburger.is-active .bar {
        opacity: 0;
    }

    .mobile-nav {
        display: block;

        position: fixed;
        top: 0;
        right: -100%;
        width: 100px;
        min-height: 100vh;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.7);
        padding-top: 120px;
        transition: 0.4s;
    }

    .mobile-nav.is-active {
        right: 0;
    }

    .mobile-nav li{
        margin: 0;
        padding-bottom: 10px;
        list-style: none;
        display: flex;
        justify-content: center;
    }

    .mobile-nav li a {
        text-decoration: none;
        color: #fff;
        padding: 1rem;
        display: block;
    }

    .mobile-nav li:hover {
        background-color: rgba(255, 255, 255, 0.5)
    }
    
    .mobile-nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

}

