@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Raleway:wght@100&display=swap');


/* General styles for the page */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


html{
    overflow-x: hidden;
    text-align: center;
    background-color: rgb(38, 39, 49);
}

body{
    background-color: rgb(38, 39, 49);
}



.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    background-color: rgb(38, 39, 49);
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    transform-style: preserve-3d;
    z-index: -1;
}

.background{
    transform: translateZ(-10px) scale(2); 
}

.foreground{
    transform: translateZ(-7px);
    object-position: 0%;
    top: 400px;
}

.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.foreground{
    object-fit: contain;
}

header h2 {
    font-family: 'Oswald', sans-serif;
    padding: 5%;
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 5px;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

header h2:last-child {
    font-family: 'Oswald', sans-serif;
    padding: 5%;
    font-size: 40px;
    text-transform: none;
    color: #fff;
    letter-spacing: 5px;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

.content-area {
    display: flex;
    justify-content: center;
    /* position: relative; */
    
    min-width: 100vw;
    height: auto;
    /* margin-top: 100px; */
    padding: 100px 0;

    
    /* top: 450px; */
    background-color: rgb(41, 42, 48);
}

/* .toggle-button {
	position: absolute;
	top: 3rem;
	right: 3rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 22px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
} */

/* HERO BANNER */

/* .banner-area {
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
    background-image: url('https://github.com/ION606/selmer-bot-website/blob/main/assets/Header%20BK.gif?raw=true');  
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center; 
} */

/* .banner-area h2 {
    font-family: 'Oswald', sans-serif;
    padding: 5%;
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 5px;
    text-shadow: 0 0 5px rgb(0, 0, 0);
} */

/* .banner-area h2:last-child {
    padding: 5%;
    font-size: 40px;
    font-family: sans-serif, poppins;
    text-transform: none;
    color: #fff;
} */



/* CONTENT SECTION */

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
}


/* MUSIC SECTION */
.field-container {

    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    min-width: 90%;
    max-width: 100%;

    /* background-color: lightgreen; */

}
.desc-item {
    /* background-color: pink; */
    color: #fff;
    margin: 20px;
}

.desc-container{
    height: 100%;
    padding: 10%;
    border-radius: 10%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

.music-desc{
    background-color: rgba(0, 0, 255, 0.25);
}
.shop-desc{
    background-color: rgba(253, 208, 35, 0.5);
}
.anime-desc{
    background-color: rgba(77, 206, 3, 0.322);
}
.games-desc{
    background-color: rgba(243, 3, 3, 0.322);
}

.computer{
    height: 400px;  
    width: 500px;
    /* background-color: orange; */
}

.computer-img{
    position: absolute;
    scale: 1;
    overflow: auto;
}







/* countdown till end of summer  */
.skymernet-count {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    position: relative;
    height: 400px;
    width: 100%;

    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid black;
    border-radius: 0 20%;
    box-shadow: 10px 20px 0 rgb(37, 37, 37);

    margin: 20px;
}


.skymernet-count h1 {
    padding-top: 10px;
    font-size: 2rem;
    font-family: 'Oswald';
    color: white;
    text-shadow: 2px 2px #000000;
    text-transform: uppercase;
    padding-top: 30px;
    text-decoration: overline;
}

.skymernet-count h2 {
    font-size: 3.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.skymernet-count h3 {
    font-size: 1rem;
    font-family: 'Raleway';
    color: black;
}

.count-container{

    /* background: rgba(255, 255, 255); */

    height: 200px;
    min-width: 90%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.time-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1%;
    background-color: #e7e7e7;
    height: 120px;
    min-width: 100px;
}

.time-container {
    justify-self: flex-end;
    border: 2px solid black;
    border-radius: 10%;
}

/*************************
    CAROUSEL
*************************/

#animecarousel{
    width: 600px; 
    position: relative;  
    height: auto;
    margin: 10px;
}

#gamescarousel {
    margin: 30px 0 0 33px;
    display: inline-block;

    width: 420px;
    height: 225px;
    /* background-color: red; */
}

#shopcarousel{
    width: 500px; 
    height: 300px;
}


.carousel .carousel-inner {
    background: #faf9f9;
    border:1px solid rgb(94, 104, 104);
}

.carousel-control.right, 
.carousel-control.left {
    background-image: none;
}

.control-icon {
    color: #393939;
    text-shadow: none;
}

.carousel-inner {
    position: relative;
    height: 300px;
}



.carousel-img {
    /* width: 200px;
    height: 400px; */
    /* top: 50px; */
    background-size: cover;
    position: relative;
    transform: translateY(5%);
    /* display: visible; */
    /* background-color: red; */
}

.cat-title {
    text-shadow: none;
}

.item {
    position: relative;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: default;
}

.tooltip .tooltiptext {
    visibility: hidden;
    padding: 0.25em 0.5em;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 0.25em;
    white-space: nowrap;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 100%;
    transition-property: visibility;
    transition-delay: 0s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    transition-delay: 0.3s;
}




.desctext {
    /* float:left; */
    color: white;
    /* margin-left: 50px; */
    margin-top: 20px;
    background-color: rgb(1, 69, 196, 0.1);
    padding: 20px;
    border-radius: 10%;
    width: auto;
}






/* FIT TO SMALLER SCREEN */

@media (max-width: 1200px) {

    .field-container {
        display: flex;
        flex-direction: column;
        min-width: 80%;
    }

    .desc-item:first-child{
        align-self: flex-start;
    }
    .desc-item:last-child{
        align-self: flex-end;
    }
        
}



@media (max-width: 800px) {

    /* HERO SECTION */

    /* .banner-area {
        width: 100%;
        height: 500px;
        position: fixed;
        top: 100px;
        background-image: url('https://github.com/ION606/selmer-bot-website/blob/main/assets/Header%20BK.gif?raw=true');  
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center center;

        display: flex;
        flex-direction: column; 
    } */

    .banner-area h2 {
        padding: 8%;
        font-size: 40px;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #fff;
        text-shadow: 0 0 5px rgb(0, 0, 0);
    }

    .desc-container{
        font-size: 1rem;
    }

/* 
    .computer{
        height: 350px;  
        width: 350px;
    }

    .computer-img{
        position: absolute;
        left: 0;
        top: 3300px;
        scale: .7;
    }

    .carousel-img {
        background-size: cover;
        position: relative;
        transform: translateY(5%);
    }

    #gamescarousel {
        position: absolute;
        left: 64px;
        top: 3346px;


        width: 293px;
        height: 155px;
    } */

    .computer{
        height: 300px;  
        width: 200px;
        /* background-color: orange; */
    }
    
    .computer-img{
        position: absolute;
        scale: 0.7;
        overflow: auto;
    }

    #gamescarousel {
        margin: 76px 0  0 96px;
        display: inline-block;
    
        width: 295px;
        height: 155px;
        /* background-color: red; */
    }

    #animecarousel{
        padding: 10px;
        width: 400px; 
        height: auto;
        position: relative; 
        margin: auto; 
    }

    #shopcarousel{
        width: 350px; 
        height: 300px;
    }

}


@media ( max-width: 600px ) {

    /* HERO SECTION */

    /* .banner-area {
        width: 100%;
        height: 500px;
        position: fixed;
        top: 100px;
        background-image: url('https://github.com/ION606/selmer-bot-website/blob/main/assets/Header%20BK.gif?raw=true');  
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center center;

        display: flex;
        flex-direction: column; 
    } */

    .banner-area h2 {
        padding: 8%;
        font-size: 40px;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #fff;
        text-shadow: 0 0 5px rgb(0, 0, 0);
    }

    .desc-container{
        font-size: 1rem;
    }

/* 
    .computer{
        height: 350px;  
        width: 350px;
    }

    .computer-img{
        position: absolute;
        left: 0;
        top: 3300px;
        scale: .7;
    }

    .carousel-img {
        background-size: cover;
        position: relative;
        transform: translateY(5%);
    }

    #gamescarousel {
        position: absolute;
        left: 64px;
        top: 3346px;


        width: 293px;
        height: 155px;
    } */

    .computer{
        height: 300px;  
        width: 200px;
        /* background-color: orange; */
    }
    
    .computer-img{
        position: absolute;
        scale: 0.5;
        overflow: show;
    }
    #gamescarousel {
        margin: 106px 0  0 149px;
        display: inline-block;
    
        width: 200px;
        height: 100px;
        /* background-color: red; */
    }

    #animecarousel{
        padding: 10px;
        width: 400px; 
        height: auto;
        position: relative; 
        margin: auto; 
    }

    #shopcarousel{
        width: 350px; 
        height: 300px;
    }

}

